.detail-view a:not(.btn) {
	color: #337ab7;
	text-decoration: underline;
	font-weight: 500;
}
img {
	max-width: 100%;
}

/* Dropzone */
.dropzone {
	border: 2px dashed #e5e5e5;
	min-height: 150px;
}

/* Breadcrumb */
.breadcrumb {
	padding: 0;
	margin-bottom: 0;
}
.breadcrumb ul {
	margin-bottom: 0;
}

/* =Content Box
-------------------------------------------------------------- */
.page-title h1 {
	font-size: 20px;
	line-height: 25px;
	margin: 9px 0 15px 0;
}
.page-title .title_left.full-size {
	width: 100%;
}
.page-title h1 small {
	display: block;
	margin: 10px 0 0 0;
	line-height: 120%;
}
.x_panel.no-padding {
	padding: 0 0 0 0;
}
.x_panel.no-padding .x_content {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.x_title h2 {
	padding: 0 30px 0 0;
}
@media (max-width: 1200px) {
	.x_title h2 {
		width: auto !important;
	}
}
@media (max-width: 767px) {
	.x_title h2 {
		width: 100% !important;
		padding: 0 0 0 0;
		margin-bottom: 10px !important;
	}
}
.x_title .content-menu {
	float: left;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.x_title .content-menu li {
	display: inline-block;
	float: none !important;
}
.x_title .content-menu li:last-child {
	padding: 0 0 0 0;
}
.x_title .content-menu li a i {
	margin: 0 5px 0 0;
}
.x_title ul.nav ul.dropdown-menu li {
	display: block;
}
.x_title .navbar-right {
	text-align: right;
}

/* UL */
.list-boxed {
	margin: 10px 0;
	padding-left: 15px;
}
.list-boxed:first-child {
	margin-top: 0;
}
.list-boxed:last-child {
	margin-bottom: 0;
}
.list-boxed:first-child:last-child {
	margin-top: 0;
	margin-bottom: 0;
}

/* Table */
.table:last-child {
	margin-bottom: 0px;
}

/* Overflow */
.overflow-scroll {
	overflow: scroll !important;
}
.overflow-hidden {
	overflow: hidden !important;
}
.overflow-auto {
	overflow: auto !important;
}
.overflow-visible {
	overflow: visible !important;
}
.overflow-x-scroll {
	overflow-x: scroll !important;
}
.overflow-x-hidden {
	overflow-x: hidden !important;
}
.overflow-x-auto {
	overflow-x: auto !important;
}
.overflow-x-visible {
	overflow-x: visible !important;
}
.overflow-y-scroll {
	overflow-y: scroll !important;
}
.overflow-y-hidden {
	overflow-y: hidden !important;
}
.overflow-y-auto {
	overflow-y: auto !important;
}
.overflow-y-visible {
	overflow-y: visible !important;
}

/* =GridView
-------------------------------------------------------------- */
.grid-form, 
.search-form {
	display: none;
}
.grid-view table {
	background: #fff;
}

/* Filter */
.grid-view table tr.filters {}
.grid-view table tr.filters td {
	padding: 0 0 0 0;
}
.grid-view table tr.filters td:first-child,
.grid-view table tr.filters td:last-child {
	padding: 0 0 0 0;
}
.grid-view table tr.filters td input,
.grid-view table tr.filters td select {
	width: 100%;
	padding: 5px 6px;
	outline: 2px solid transparent;
	background: #f9f9f9;
}
.grid-view table tr.filters td select {
	padding: 4px 6px;
}
.grid-view table tr.filters td input:focus,
.grid-view table tr.filters td select:focus {
	outline: 2px solid #19BB9C !important;
	outline-offset: -1px;
	background: #fff;
}
.grid-view td.center {
	text-align: center;
	width: 1px;
	white-space: nowrap;
}

/* Button Column */
.grid-view td.action-column {
	width: 1px;
	white-space: nowrap;
	text-align: center;
}

/* Summary and Pagination */
.grid-view .summary {
	padding-top: 20px;
}
.grid-view ul.pagination {
	margin: 15px 0 0 0;
}

/* Gridview No Padding */
.x_panel.no-padding .grid-view table.dataTable {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.x_panel.no-padding .grid-view .summary {
	padding-left: 20px;
}
.x_panel.no-padding .grid-view ul.pagination {
	padding-right: 20px;
}

/* =DetailView
-------------------------------------------------------------- */
table.detail-view th {
	width: 200px !important;
}

/* =Alert
-------------------------------------------------------------- */
.bg-secondary {
    color: #ffffff;
    background-color: #6c757d;
}
.bg-primary {
    color: #ffffff;
    background-color: #364c66;
}

/* =Form
-------------------------------------------------------------- */
form .form-group div.checkbox {
	padding-top: 0;
}
form .form-group .btn {
	margin-bottom: 0;
}
form .redactor-box {
	margin-bottom: 0;
}
form .form-group .small-px {
	display: block;
	font-size: 12px;
	color: #999;
}
form .form-group .desc label {
	font-weight: normal;
}
form .form-group .row {
	margin-bottom: 10px;
}
form .form-group:last-child,
form .help-block:last-child {
	margin-bottom: 0;
}
.hint-block {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #999;
}
.hint-block.main-fontsizecolor {
	font-size: 13px;
}
form.hint-tooltip .hint-block {
	display: none;
}
.hint-block:first-child,
.control-label~.hint-block {
	margin-top: 0;
}
.hint-block:last-child {
	margin-bottom: 0;
}
.control-label .hint-block {
	font-weight: 400;
}
.control-label.text-left {
	text-align: left;
}

/* =Selectize
-------------------------------------------------------------- */
.selectize-control.shadow .selectize-input > div {
	border-bottom: 1px dashed #ccc;
}
.selectize-control.shadow .selectize-input input {
	min-width: 50%;
}
.selectize-control.form-control,
.selectize-control .selectize-dropdown {
	padding: 0;
}
.selectize-control.form-control {
	border: none;
}
.selectize-control .selectize-dropdown {
	height: auto;
}
.selectize-dropdown {
	z-index: 110 !important;
}
.selectize-dropdown [data-selectable],
.selectize-dropdown .option,
.selectize-dropdown .optgroup-header,
.selectize-dropdown .create {
  padding: 5px 8px;
}
.kv-meter-container {
	display: none;
}

/**
 * Email Contacts
 */
 .selectize-control.contacts .selectize-input [data-value] .email {
	opacity: 0.5;
}
.selectize-control.contacts .selectize-input [data-value] .name + .email {
	margin-left: 1px;
}
.selectize-control.contacts .selectize-input [data-value] .email:before {
	content: '<';
}
.selectize-control.contacts .selectize-input [data-value] .email:after {
	content: '>';
}
.selectize-control.contacts .selectize-dropdown .label {
	color: #555;
	font-size: 13px;
	padding: 0;
}
.selectize-control.contacts .selectize-dropdown .caption {
	font-size: 12px;
	display: block;
	opacity: 0.5;
	background: none;
	padding: 0;
}